name = "BatchAssign"
uuid = "e837618a-1c15-48db-beb0-68297dffdb28"
authors = ["Jake W. Liu"]
version = "1.0.0"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
